
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <h3>Player</h3>
            Cash: {{getCash()}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4" *ngFor="let key of jobFamilies.keys()">
            <h3>{{key}}</h3>
            <div *ngFor="let job of getJobsForFamily(key)" (click)="activateJob(job)">
                <div *ngIf="getDisplayed(job)">
                <div class="row">
                    <div class="col">
                        {{job.displayName}} {{job.currentLevel}} {{job.currentXp}} {{job.nextLevelXp}}
                        <button class="btn btn-primary float-right" (click)="incrementJob(job)">+</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12"><ngb-progressbar [type]="getProgressBarTypeForJob(job)" [value]="getJobPercentComplete(job)"></ngb-progressbar></div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>